# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE or editor files
.vscode/
.idea/

# Logs
*.log
